/* CSS declarations go here */

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  min-height: 900px;
  background-color: #f1f1f1;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: 'Ubuntu Mono', sans-serif;
}

.banner-container {
  width: 98.5%;
  height: 44px;
  background-color: #ffffff;
  padding: 8px;
  margin-right:8px;

}

#wink {
  float: left;
}

.filter-buttons-container {
  position: relative;
  margin-left: 43%;
}

.filter-button {
  position: relative;
  height: 35px;
  width: 50px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  line-height: 220%;
}

.filter-button:hover {
   background-color: #5c94f4;
   color: white;

}

.active-button{
  background-color: #5c94f4;
  color: white;
}

.sidebar-component-container {
  position: relative;
  top: 20px;
  left: 10px;
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.sidebar-search-bar-container {
  height: 60px;
}

.sidebar-search-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 23px;
  right: 20px;
  opacity:0.4;
}

.sidebar-search-bar {

  position: relative;
  top: 15px;
  left: 10px;

  width: 86%;
  height: 32px;

  border-radius: 6px;
  border: 1px solid #e9e9e9;

  outline-color: #ffffff;
  outline-width: 1px;
}

.sidebar-search-bar:focus {

  box-shadow: 0px 0px 0px 1pt;

  outline-color: #ffffff;
  outline-width: 1px;


}

.opacity-up {
    opacity:0.9;
}

.active-search-bar {
    box-shadow: 0px 0px 0px 1pt;

    outline-color: #ffffff;
    outline-width: 1px;
}

.sidebar-item-container {
   background-color: white;
   color: black;
   position: relative;
   left: 10px;
   height: 30px;
   width: 90%;
   margin-top: 5px;
   margin-right: 0px;
  text-align: center;
  line-height: 190%;
  float: left;

  transition: transition 2s;

}

.sidebar-item-container > p {
   margin-left: 10px;
   transition: 1s;
}

.sidebar-item-container:hover > .sidebar-item-tab {
  background-color: #5c94f4;

}

.sidebar-item-container:hover > p {
  margin-left: 20px;
  transition: margin-left 1s;
}



.sidebar-item {

}

.active-tab{
  background-color: #5c94f4;
}

.sidebar-item-tab{
  background-color: #f1f1f1;
  position: relative;
  left: 0;
  top: 0;
  width: 5px;
  height: 30px;
  height: 100%;
  float: left;
}



.sidebar-item-name{
  margin-left: 5px;
  float: left;
  margin: 0;
  margin-left: 5px;
}
