/* CSS declarations go here */

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  min-height: 900px;
  background-color: #f1f1f1;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: 'Ubuntu Mono', sans-serif;
}

.banner-container {
  width: 98.5%;
  height: 44px;
  background-color: #ffffff;
  padding: 8px;
  margin-right:8px;
  box-shadow: 2px 2px 5px #888888;
  position: fixed;
  z-index: 2;
}

#wink {
  float: left;
}

.filter-buttons-container {
  position: relative;
  margin-left: 43%;
}

.filter-button {
  position: relative;
  height: 35px;
  width: 50px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  line-height: 220%;
}

.filter-button:hover {
   background-color: #5c94f4;
   color: white;

}

.active-button{
  background-color: #5c94f4;
  color: white;
}

.login-container {
  position: relative;
  float: right;
  width: 220px;
  height: 100%;
}

.login-name {
  width: 100px;
  left: 45px;
  position: relative;

}

.login-name > p{
  margin-right: 10x;

}

.unread-messages {
  position: absolute;
  top: -7px;
  right: 35px;
  width: 30px;
  margin-right: 12px;
  z-index: 1;
  color: black;
}

.unread-messages > p {
  float: left;

}

.unread-messages > a {
  float: left;
  margin-top: 16px;
  margin-bottom: 16px;
}

#message-icon {
  position: absolute;
  top: 0px;
  right: 50px;
  height: 30px;
  width: 30px;
  margin-top: 3%;
  margin-right: px;
}


#sign-out-icon {
  position: absolute;
  top: 0px;
  right: 20px;
  height: 30px;
  width: 30px;
  margin-top: 3%;
  margin-right: 27px;
}

#user-image {

  position: absolute;
  top: 0px;
  right: 0px;
  height: 45px;
  width: 45px;


}



.left-sidebar-component-container {
  position: relative;
  top: 75px;
  left: 10px;
  width: 200px;
  height: 100%;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.left-sidebar-search-bar-container {
  height: 60px;
}

.left-sidebar-search-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 23px;
  right: 20px;
  opacity:0.4;
}

.left-sidebar-search-bar {

  position: relative;
  top: 15px;
  left: 10px;

  width: 86%;
  height: 32px;

  border-radius: 6px;
  border: 1px solid #e9e9e9;

  outline-color: #ffffff;
  outline-width: 1px;
}

.left-sidebar-search-bar:focus {

  box-shadow: 0px 0px 0px 1pt;

  outline-color: #ffffff;
  outline-width: 1px;


}

.opacity-up {
    opacity:0.9;
}

.active-search-bar {
    box-shadow: 0px 0px 0px 1pt;

    outline-color: #ffffff;
    outline-width: 1px;
}

.left-sidebar-item-container {
   background-color: white;
   color: black;
   position: relative;
   left: 10px;
   height: 30px;
   width: 90%;
   margin-top: 5px;
   margin-right: 0px;
  text-align: center;
  line-height: 190%;
  float: left;

  transition: transition 2s;

}

.left-sidebar-item-container > p {
   margin-left: 10px;
   transition: 1s;
}

.left-sidebar-item-container:hover > .left-sidebar-item-tab {
  background-color: #5c94f4;

}

.left-sidebar-item-container:hover > p {
  margin-left: 20px;
  transition: margin-left 1s;
}



.left-sidebar-item {

}

.left-sidebar-item-tab{
  background-color: #f1f1f1;
  position: relative;
  left: 0;
  top: 0;
  width: 5px;
  height: 30px;
  height: 100%;
  float: left;
}

.active-tab{
  background-color: #5c94f4;
}


.left-sidebar-item-name{
  margin-left: 5px;
  float: left;
  margin: 0;
  margin-left: 5px;
}

.post-list-container {
  position: absolute;
  top: 80px;
  left: 230px;
  width: 100%;
  height: 100%
  background-color: black;
}

.post-container {
  position: relative;
  float: left;
  top: 0px;
  width: 60%;
  height: 65px;
  display:block;
  background-color: white;
  margin-bottom: 20px;
  padding-bottom: 7px;
  box-shadow: 3px 3px 5px #888888;
}

.post-voter{
  float: left;

}

.post-thumbnail{
  float: left;

}

.post-title{
  float: left;
  text-align: center;
  position: relative;
  top: 9px;
  margin-bottom: 10px;

}

.post-title > p {
  margin: 0;
  position: relative;
  font-size: 19px;
  color: #5b92fa;
}

.post-source{
  float: left;
  margin-left:10px;
  height: 12px;
  position: relative;
  margin-top: 15px;

}

.post-source > p{
  color: grey;
  font-size: 12px;
  position: relative;
  margin: 0px;

}

.post-submit-info{
height: 13px;
width: 50%;
margin-right: 0px;
position: absolute;
top: 33px;
left: 70px;

}

.post-submit-info > p{
 float: left;
 position:relative;
 top: -3px;
 left: 8px;
 height: 13px;
 width: 100%;
 margin: 0px;
 font-size: 12px;
 color: grey;


}

.post-submit-info > a{
  float: left;
  left: 155px;
  top: -2px;
  position: absolute;
  text-decoration: none;
  font-size: 12px;
  font-weight: thin;
  color: #5b92fa;

}

.post-click-through {
  list-style: none;
  position: relative;
  top: 43px;
  left: 77px;
  width: 50%;
  height: 12px;
  margin: 0px 0px;
  padding-left: 0px;
}


.post-click-through > li{
  list-style: none;
  float: left;
  position: relative;
  left: -86px;
  top: -27px;
  height: 13px;
  font-size: 13px;
  margin-left: 1px;
}

.post-click-through > li > a{
  list-style: none;
  float: left;
  position: relative;
  left: 0px;
  top: 0px;
  height: 13px;
  font-size: 13px;
  margin-left: 10px;
  text-decoration: inherit;
  font-weight: bold;
  color: #5c94f4;
}











.right-sidebar-component-container {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 270px;
  height: 300px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px #888888;
}

.right-sidebar-search-bar-container {
  height: 60px;
}

.right-sidebar-search-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 23px;
  right: 20px;
  opacity:0.4;
}

.right-sidebar-search-bar {

  position: relative;
  top: 15px;
  left: 10px;

  width: 90%;
  height: 32px;

  border-radius: 6px;
  border: 1px solid #e9e9e9;

  outline-color: #ffffff;
  outline-width: 1px;
}

.right-sidebar-search-bar:focus {

  box-shadow: 0px 0px 0px 1pt;

  outline-color: #ffffff;
  outline-width: 1px;


}

.opacity-up {
    opacity:0.9;
}

.active-search-bar {
    box-shadow: 0px 0px 0px 1pt;

    outline-color: #ffffff;
    outline-width: 1px;
}

.left-sidebar-container{
  position: fixed;

}

.left-sidebar-item-container {
   background-color: white;
   color: black;
   position: relative;
   left: 10px;
   height: 30px;
   width: 90%;
   margin-top: 5px;
   margin-right: 0px;
  text-align: center;
  line-height: 190%;
  float: left;
  box-shadow: 1px 1px 5px #888888;


  transition: transition 2s;

}

.left-sidebar-item-container > p {
   margin-left: 10px;
   transition: 1s;
}

.left-sidebar-item-container:hover > .left-sidebar-item-tab {
  background-color: #5c94f4;

}

.left-sidebar-item-container:hover > p {
  margin-left: 20px;
  transition: margin-left 1s;
}



.left-sidebar-item {


}

.left-sidebar-item-tab{
  background-color: #f1f1f1;
  position: relative;
  left: 0;
  top: 0;
  width: 5px;
  height: 30px;
  height: 100%;
  float: left;
}

.active-tab{
  background-color: #5c94f4;
}


.left-sidebar-item-name{
  margin-left: 5px;
  float: left;
  margin: 0;
  margin-left: 5px;
}

.active-tab-orange{
  background-color:#e79f17;
}


.top.left-sidebar-item-container:hover > .left-sidebar-item-tab {
  background-color: #e79f17;

}

#cs {
 margin-top: 60px;
}
